[Desktop Entry]
Version=0.0.3_20210803
Encoding=UTF-8
Name=limo
Comment=A simple Linux system resources monitor.
Exec=limo
Terminal=false
Type=Application
Categories=Graphics
Icon=${SNAP}/meta/gui/limo.png
